#content-area {
  flex-grow: 1;
  height: 100vh;
  background-color: #fdfdfd;
  transition: background-color 0.3s ease;
}

#content-area.dark {
  background-color: #131417;
  color: #fdfdfd;
}

#content {
  width: inherit;
  background-color: inherit;
  transition: background-color 0.3s ease;
}
