#content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 100vh;
  width: 100%;
  height: auto;
  background-color: #fdfdfd;
  transition: background-color 0.3s ease;
}

#content-area.dark {
  background-color: #131417;
  color: #fdfdfd;
}

#content {
  width: inherit;
  height: calc(100vh - 90px);
  background-color: inherit;
  transition: background-color 0.3s ease;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
