#setting-side-bar {
  width: 220px;
  background: #f8f8f8;
  padding: 20px;
  height: calc(100vh - 90px);
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
#setting-side-header {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 16px;
}
.setting-menu {
  list-style: none;
  padding: 0;
  margin: 8px 0 16px 0;
}
.setting-menu li {
  padding: 8px 0;
  cursor: pointer;
  padding-left: 20px;
}
.setting-menu li:hover {
  background: #e9ecef;
}

.setting-menu li:hover.dark {
  background: #1b115a;
}
.setting-title {
  color: #848484;
}

#setting-side-bar.dark {
  background-color: #222221;
  color: #fdfdfd;
}

.menu-icon {
  margin-right: 10px;
}

#setting-content-container {
  display: flex;
}
