.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  gap: 8px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.tab-buttons label {
  width: 350px;
  height: 40px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 6px;
  background: #f1f1f1;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s, color 0.3s;
  border: 1px solid transparent;
}

.tab-buttons label.active {
  background: #007bff;
  color: white;
  border-color: #007bff;
}
