#search-box {
  display: block;
  width: 500px;
  height: 50px;
  margin: 0 auto;
  border: 3px solid #5da9ff;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 1.5px 2px 2px 0px rgba(0, 0, 0, 0.3);
  outline: none;
  padding: 20px;
  transition: all 0.3s ease;
  transform: translate(0, 0);
  color: gray;
  font-size: 18px;
  line-height: 50px;
  margin-bottom: 30px;
}

#search-box:focus {
  transform: translate(-5px, -5px);
  box-shadow: 1.5px 6px 6px 0px rgba(0, 0, 0, 0.3);
}

#search-box.dark {
  background-color: #131417;
  color: gray;
  border: 3px solid #1e3a8a;
}

#drive {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#grid-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#file-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.file-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  background-color: #fdfdfd;
  border: 1px solid #e4e9f2;
  box-sizing: border-box;
  box-shadow: 1.5px 2px 2px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
  border-radius: 20px;
}

.file.dark {
  border: none;
  background-color: #353535;
  box-sizing: border-box;
}

.file:hover {
  transform: translate(-5px, -5px);
  box-shadow: 1.5px 6px 6px 0px rgba(0, 0, 0, 0.3);
}

#more {
  width: 190px;
  height: 40px;
  border: none;
  border-radius: 40px;
  background-color: #131417;
  color: #fdfdfd;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
}

#more:hover {
  animation: float 0.6s ease-in-out infinite;
}

#more.dark {
  border: 3px solid #1e3a8a;
  box-sizing: border-box;
}

#upload-btn {
  width: 80px;
  height: 40px;
  outline: none;
  cursor: pointer;
  background-color: #5da9ff;
  border: none;
  color: #fdfdfd;
  border-radius: 20px;
  position: fixed;
  bottom: 40px;
  right: 30px;
}

#upload-btn.dark {
  background-color: #1b115a;
}

#upload-btn:hover {
  animation: float 0.6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

#file-browser {
  width: 300px;
  height: 100%;
  padding: 10px;
  background-color: #fdfdfd;
  border-right: 1px solid #e4e9f2;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

#file-browser.dark {
  background-color: #252525;
  border-right: 1px solid #353535;
}

.tree-node {
  transition: all 0.3s ease;
  background-color: inherit;
  color: inherit;
}

.tree-node:hover {
  background-color: #cacaca;
}

.file-explorer {
  background-color: inherit;
}

.toolbar {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.fm-toolbar {
  width: 100%;
  height: 100%;
}

.toolbar .fm-toolbar > div {
  height: 100%;
}

.navigation-pane {
  height: 100%;
  overflow-y: auto;
}

.folders-preview {
  height: 100%;
  overflow-y: auto;
}

.fm-modal.dialog {
  width: 600px;
  margin: auto;
}

.fm-modal-header svg {
  font-size: 16px;
}

.files .file-item .rename-file-container {
  top: 85px;
}

.rename-file {
  color: #252525;
}
