#main-container {
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: auto;
}

#main-content {
  width: 100%;
  height: auto;
  color: #252525;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 100px;
}

#main-header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  box-sizing: border-box;
  background-color: #5da9ff;
  color: #fdfdfd;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#logo {
  font-size: 44px;
  font-family: "Wendy One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#logo:hover {
  animation: idle 0.6s ease-in-out infinite;
}

@keyframes idle {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}

#main-header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33%;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
}

#main-header > nav > a {
  display: inline-block;
  width: 100px;
  height: 30px;
  font-size: 20px;
  padding: 8px;
  line-height: 14px;
  text-align: center;
  border-radius: 20px;
  transition: all 0.3s ease;
}

#main-header > nav > a:hover {
  background-color: #fdfdfd;
  color: #5da9ff;
}

.content-page {
  width: 753px;
  height: auto;
  scroll-margin-top: 100px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  box-sizing: border-box;
}

.intro {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-image {
  width: 60%;
  height: 620px;
}

.intro > .intro-content {
  width: 40%;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
}

.intro > .intro-content > p > span:first-child {
  display: block;
  height: 60px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.intro-content > p > span {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.signup-btn {
  outline: 0;
  border: none;
  border-radius: 30px;
  width: 260px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #5da9ff;
  color: #fdfdfd;
  box-shadow: 1.5px 6px 6px 0px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 20px;
  animation: float 1.68s ease-in-out infinite;
  cursor: pointer;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#about {
  margin-top: 30px;
}

.about-title {
  font-size: 40px;
  font-weight: 600;
}

.about-content {
  margin-bottom: 100px;
}

.about-content > img {
  width: 400px;
  height: 200px;
}

.about-content > p {
  line-height: 30px;
  margin-top: 10px;
  font-size: 18px;
}

.about-content > p > span.highlight {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.about-content > ol {
  margin-top: 20px;
}

.about-content > ol > li {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.about-content > ol > p {
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 18px;
}

#services {
  margin-top: 30px;
}

.services-content {
  margin-bottom: 100px;
}

.services-title {
  font-size: 40px;
  font-weight: 600;
}

.services-content > p {
  line-height: 30px;
  margin-top: 10px;
  font-size: 18px;
}

.services-content > ul > h3 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
}

.services-content > ul > li {
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 30px;
}

.services-content > ul > li > img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 1.5px 6px 6px 0px rgba(0, 0, 0, 0.3);
}
